#comparison-table{
    border: black 1px solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    vertical-align: baseline;

}
#expression-table{
    border: black 1px solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    vertical-align: baseline;

}
th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}
tr {
    vertical-align: baseline;
}

code {
    text-align: left;
}

#preferences, #configs, #rankings, #settings{
    padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
    border-color: #e0cb52;
    background: #fcfaee;
}

